* {margin:0;padding:0;box-sizing:border-box;}
body {
	background-color:#F6EFEE;
	color: #fff;
	font-family: 'Catamaran', sans-serif;
}
section {
	background-color: #FFE2B8;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#three_column {
	background-color: #ffB7CF;
	border: 1px black solid;
	padding: 20px;
	display: inline-block;
}
#donations {
	background-color: red;
	border: 1px black solid:
	padding: 20px;
	float: left;
	width: 33.3%;
}
#athletics{
	background-color: red;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 33.3%;
}
#events{
	background-color: red;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 33.3%;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
h1 {
	font-size: 64px;
	font-family: 'Josefin Slab', serif;
	text-align: center;
	letter-spacing: 2px;
	font-weight: 100;
}
h2 {
	font-family: 'Pacifico', cursive;
	font-size: 28px;
	text-align: left;
	font-weight: 100;
	text-align: center;
}
h3 {
	font-family: 'Josefin Slab', serif;
	font-size: 18px;
	color:#fff;
	font-weight: thin;
}
nav a {
	font-size: 14px;
	text-align: left;
	text-decoration:none;
	padding: 0px 5px 5px 5px;
	background-color: #E8C66A;
	border: 1px black solid;
	position: top;
}
ul {
	padding-left: 1.5em;
	line-height: 1.5;
}
footer {
	background-color: #fff;
	color: gray;
	padding: 20px;
}
#schoolphoto {
	background: url(/images/school.jpg);
	height:30vh;
	padding:20px;
}
#splash {
	color: #fff;
	background: url(../images/1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:top;
	height: 60vh;
}
#splash div {
	background:rgb(0,0,0);
	display:inline-block;
	padding:20px;
}
#three_column {
	background-color: #D3D3D3;
	color: white;
}
#events section {
	background color: maroon;
	width: 33.3%;
	padding: 20px;
}
#donations section {
	background color: maroon;
	width: 33.3%;
	padding: 20px;
	text-decoration: none;
}
#athletics section {
	background color: maroon;
	width: 33.3%;
	padding: 20px;
	text-decoration: none;
}


