body {
	background-color:#F6EFEE;
	color:726F6F;
	font-family: 'Catamaran', sans-serif;
	padding-left: 20px;
}
h1 {
	color:#000000; 
	font-size: 64px;
	font-family: 'Josefin Slab', serif;
	text-align: left;
	letter-spacing: 2px;
	padding-left: 20px;
}


h2 { 	
	color:(0,0,0); 
	font-size: 14px;
	font-family: 'Catamaran', sans-serif;
	text-align: left;
	padding-left: 20px;
	background-color: #d5c8c7

}

h3 { 	
	font-family: 'Dancing Script', cursive;
	font-size: 28px;
	text-align: left;
	padding-left: 32px;
	color:(0,0,0); 
}
p {
	color:#000000; 
	font-family: 'Catamaran', sans-serif;
	padding-left: 20px;
}
li {
	color:#000000; 
	font-family: 'Catamaran', sans-serif;
	padding-left: 30px;
}