* {margin:0;padding:0;box-sizing:border-box;}
body {
	background-color:#F6EFEE;
	color: #000;
	font-family: 'Catamaran', sans-serif;
}
section {
}
h1 {
	font-size: 64px;
	font-family: 'Josefin Slab', serif;
	text-align: left;
	letter-spacing: 2px;
	font-weight: thin;
}
nav {
	background-color: #d5c8c7;
}
nav a {
	color:inherit;
	display: inline-block;
	font-size: 14px;
	text-align: left;
	text-decoration:none;
	padding: 1em;
}

h2 {
	font-family: 'Dancing Script', cursive;
	font-size: 28px;
	text-align: left;
}
ul {
	padding-left: 1.5em;
}
#splash {
	color: #fff;
	background: url(../images/1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position: bottom;
	height: 90vh;
	padding: 25em 0 0 20em;
}
#splash div {
	background:rgba(0, 0, 0, 0.81);
	display:inline-block;
	position: left;
}

#events {
	color: #ffff;
	background-color:#6f0202;

}
