* {margin:0; padding:0;box-sizing:border-box;}
body {
	color: #222;
	font-family: 'Catamaran', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
section {
	padding: 2em 0;
}
h1 {
	font-size: 4em;
	font-family: 'Josefin Slab', serif;
	text-align: center;
	font-weight: 100;
	padding: .2em;
}
h2 {
	font-family: 'Pacifico', cursive;
	font-size: 1.5em;
	text-align: center;
}
h3 {
	font-family: 'Josefin Slab', serif;
	font-size: 1.2em;
	font-weight: thin;
}
nav a {
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
	padding: .2em;
	background-color: maroon;
	line-height: 2em;
	font-family: 'josefin slab', serif;
	color: white;
	display:block;
	width: 25%;
	float:left;
}
a.hover {
	color: orange;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
ul {
	padding-left: 1.5em;
}
footer {
	padding: .2em;
	font-size: 1em;
	float: left;
	padding: .25em;
	margin:.25em;
	border-top: .25em black solid;
}
#splash {
	color: #fff;
	background: url(../images/1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:top;
	height: 20%;
}
#splash div {
	background-color: black;
	color:white;
	width: 50%;
	padding: .5em;
}
.events {
	padding: 1em 2em;
	width:33.33%;
	float:left;
}
#about {
	padding: 4em;
	background-color: black;
	color:white;
}
section #events {
	width: 100%;
	margin:auto;
}
#about div{
	width: 100%;
	margin: auto;
}
}	