body {background-color: 127,0,0; font-family: helvetica; font-size: 18px}
h1 {color: hex #D7FFDB; font-size: 36px}
#slogan {font-family: helvetica; font-size: 24px; font-style: bold; text-align: right;}

