body {
	background-color:rgb(127,0,0);
	color:#D7FFDB;
}
h1 {
	color:#D7FFDB; 
	font-size: 36px;
	font-family: helvetica;
}
#slogan {
	font-family: helvetica;
font-size: 24px;
font-style: bold;
text-align: left
}