body {background-color: 127,0,0; font-family: helvetica; font-size: 12px}
h1 {color: hex #D7FFDB; font-size: 16px}
#slogan {text-decoration: underline; font-family: helvetica; font-size: 14px; font-style: bold; text-align: center;}

